# Salin file ini menjadi .env.local untuk development lokal
# cp .env.example .env.local
#
# Untuk production (Docker), nilai ini diset melalui docker-compose.yml build args

# URL API Backend — arahkan ke Nginx vm-backend
# Development: http://localhost:5000/api
# Production:  https://api.yourdomain.com/api
# Local: http://192.168.1.11/api
# Production: https://api.yourdomain.com/api
NEXT_PUBLIC_API_URL=http://192.168.1.11/api
