# Node.js
node_modules/
dist/
build/
.next/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment Variables
.env
.env.*
!.env.example
!.env_example

# Vagrant
.vagrant/

# OS & Logs
.DS_Store
*.log

# Custom
plan/
database/pgdata/